.UserProfile_wrapper {
  width: 70rem;
  min-height: 100vh;
  margin: auto;
  padding-top: 3em;

  h2 {
    margin-bottom: 2.5em;
    text-align: center;
    font-size: 2.8em;
  }

  .UserProfile_info {
    width: 100%;
    margin-block: 4em 6em;
    min-height: 20rem;
    display: flex;
    flex-direction: row;

    .info-MainText {
      width: 60%;

      h3 {
        margin: 1.5em 0;
        font-size: 1.3rem;
        letter-spacing: 0.1ch;
        text-transform: uppercase;
      }

      .MainText-input {
        margin-block: auto;
        width: 100%;
        min-height: 60%;
        border-left: 6px solid #e0e0e0;
        display: flex;
        flex-direction: column;

        .MainText-btn {
          width: 11em;
          margin-top: 2rem;
          margin-inline: auto;
        }
      }
    }

    .info-Image {
      width: calc(100% - 60%);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .UserProfile_info-reverseFlex {
    flex-direction: row-reverse;
  }
}
